<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>收藏视图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B3C6A211C9FC89900DF2220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3C6A3A1C9FC89900DF2220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3C6A451C9FC89900DF2220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
